.root {
    width: 30vw;
    margin-bottom: 20px;

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .text_field {
            width: 100%;
            margin-right: 10px;
        }
    }
}